<ion-app>
  <ion-header translucent>

  
  
  
  <p></p>
  
  <ion-card>
    <div class="ion-page" id="main-content"></div>
     
        <ion-toolbar>
         
          <p></p>
          <ion-icon name="arrow-back" fill="clear" routerLink="/detaillaporan"></ion-icon>
          <ion-item>
           
            <H5>LAPORAN BARANG</H5>
           
      
          <div class="ion-padding" style="text-align: right;"> 
            <img src="assets/icons8-documents-64.png">
          </div>
        </ion-item>
      </ion-toolbar>
      <ion-toolbar>
        <ion-searchbar></ion-searchbar>
      </ion-toolbar>
  
  </ion-card>
</ion-header>
  