<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-item color="dark">
    <ion-label>Kelas VII</ion-label>
    <ion-select interfaceOptions="customPopoverOptions" interface="popover">
      <ion-select-option value="viia">VII A</ion-select-option>
      <ion-select-option value="viib">VII B</ion-select-option>
      <ion-select-option value="viic">VII C</ion-select-option>
      <ion-select-option value="viid">VII D</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item color="dark">
    <ion-label>Kelas VIII</ion-label>
    <ion-select interfaceOptions="customPopoverOptions" interface="popover">
      <ion-select-option value="viiia" >VIII A</ion-select-option>
      <ion-select-option value="viiib">VIII B</ion-select-option>
      <ion-select-option value="viiic">VIII C</ion-select-option>
      <ion-select-option value="viiid">VIII D</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item color="dark">
    <ion-label>Kelas IX</ion-label>
    <ion-select interfaceOptions="customPopoverOptions" interface="popover">
      <ion-select-option value="ixa">IX A</ion-select-option>
      <ion-select-option value="ixb">IX B</ion-select-option>
      <ion-select-option value="ixc">IX C</ion-select-option>
      <ion-select-option value="ixd">IX D</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
