<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
    <ion-item class="kelas" color="dark">
      <h2>Kode Kelas</h2>
    </ion-item>
    <ion-item class="kode" color="dark">
      Masukan kode kelas. Contoh: xy1k7A
      <hr color="black">
    </ion-item>
    <div class="gabung">
      <ion-button shape="round"size="small" routerLink="/kelassiswa">Gabung</ion-button>
    </div>
  <img src="assets/kelassiswa.png">
</ion-content>