<ion-header>
  <ion-toolbar color="dark">
    <ion-title>BIOLOGI</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
<div class="card-list">
  <ion-subtitle>Kategori: Pilihan Ganda</ion-subtitle>
  <div>
    <ion-card>
      <h6>1.  Contoh hewan di Indonesia yang bercorak wilayah peralihan (antara garis Wallace-Weber) adalah...</h6>
      <ion-card-content class="radio">
          <ion-radio-group value="tulis">
            <ion-item>
              <ion-label>Gajah, harimau, dan komodo</ion-label>
              <ion-radio slot="start" value="biff"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Kanguru, cendrawasih, dan kasuari</ion-label>
              <ion-radio slot="start" value="griff"></ion-radio>
            </ion-item>       
            <ion-item>
              <ion-label>Badak, harimau, dan maleo</ion-label>
              <ion-radio slot="start" value="buford"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Komodo, anoa, dan maleo</ion-label>
              <ion-radio slot="start" value="buford"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Kuskus, kanguru, dan komodo</ion-label>
              <ion-radio slot="start" value="buford"></ion-radio>
            </ion-item>
          </ion-radio-group>
      </ion-card-content>
  </ion-card>
  </div>

  <div>
    <ion-card>
      <h6>2.  Persebaran fauna di Indonesia bagian barat dan tengah dibatasi oleh garis...</h6>
      <ion-card-content class="radio">
        <ion-radio-group value="tulis">
          <ion-item>
            <ion-label>Wallace</ion-label>
            <ion-radio slot="start" value="biff"></ion-radio>
          </ion-item>    
          <ion-item>
            <ion-label>Astronomis</ion-label>
            <ion-radio slot="start" value="griff"></ion-radio>
          </ion-item>      
          <ion-item>
            <ion-label>Webber</ion-label>
            <ion-radio slot="start" value="buford"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Katulistiwa</ion-label>
            <ion-radio slot="start" value="buford"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Ekuator</ion-label>
            <ion-radio slot="start" value="buford"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-card-content>      
  </ion-card>
  </div>

  <div>
    <ion-card>
      <h6>3. Hewan yang termasuk wilayah fauna Indonesia bagian barat adalah...</h6>
      <ion-card-content class="radio">
        <ion-radio-group value="tulis">
          <ion-item>
            <ion-label>babi rusa, banteng, anoa dan komodo</ion-label>
            <ion-radio slot="start" value="biff"></ion-radio>
          </ion-item>      
          <ion-item>
            <ion-label>harimau, tapir, burung elang dan orang utan</ion-label>
            <ion-radio slot="start" value="griff"></ion-radio>
          </ion-item>      
          <ion-item>
            <ion-label>burung elang, harimau, kuskus dan walabi</ion-label>
            <ion-radio slot="start" value="buford"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>walabi, komodo, burung cendrawasih dan anoa</ion-label>
            <ion-radio slot="start" value="buford"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>banteng, kuskus dan burung elang</ion-label>
            <ion-radio slot="start" value="buford"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-card-content>
  </ion-card>
  </div>
</div>
</ion-content>
