<ion-header>
  <ion-toolbar color="dark">
    <ion-title>BIOLOGI</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
<div class="card-list">
  <ion-subtitle>Kategori: Pilihan Ganda</ion-subtitle>
  <div>
    <ion-card>
      <h6>1.  Tulis Pertanyaan disini...</h6>
      <ion-card-content class="radio">
          <ion-radio-group value="tulis">
            <ion-item>
              <ion-label>Tulis jawaban</ion-label>
              <ion-radio slot="start" value="biff"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tulis jawaban</ion-label>
              <ion-radio slot="start" value="griff"></ion-radio>
            </ion-item>       
            <ion-item>
              <ion-label>Tulis jawaban</ion-label>
              <ion-radio slot="start" value="buford"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tulis jawaban</ion-label>
              <ion-radio slot="start" value="buford"></ion-radio>
            </ion-item>
            <h6 class="kunci">*klik pada jawaban yang yang benar sebagai kunci jawaban</h6>
          </ion-radio-group>
      </ion-card-content>
  </ion-card>
  </div>

  <div>
    <ion-card>
      <h6>1.  Tulis Pertanyaan disini...</h6>
      <ion-card-content class="radio">
          <ion-radio-group value="tulis">
            <ion-item>
              <ion-label>Tulis jawaban</ion-label>
              <ion-radio slot="start" value="biff"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tulis jawaban</ion-label>
              <ion-radio slot="start" value="griff"></ion-radio>
            </ion-item>       
            <ion-item>
              <ion-label>Tulis jawaban</ion-label>
              <ion-radio slot="start" value="buford"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tulis jawaban</ion-label>
              <ion-radio slot="start" value="buford"></ion-radio>
            </ion-item>
            <h6 class="kunci">*klik pada jawaban yang yang benar sebagai kunci jawaban</h6>
        </ion-radio-group>
      </ion-card-content>      
  </ion-card>
  </div>

  <div>
    <ion-card>
      <h6>1.  Tulis Pertanyaan disini...</h6>
      <ion-card-content class="radio">
          <ion-radio-group value="tulis">
            <ion-item>
              <ion-label>Tulis jawaban</ion-label>
              <ion-radio slot="start" value="biff"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tulis jawaban</ion-label>
              <ion-radio slot="start" value="griff"></ion-radio>
            </ion-item>       
            <ion-item>
              <ion-label>Tulis jawaban</ion-label>
              <ion-radio slot="start" value="buford"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Tulis jawaban</ion-label>
              <ion-radio slot="start" value="buford"></ion-radio>
            </ion-item>
            <h6 class="kunci">*klik pada jawaban yang yang benar sebagai kunci jawaban</h6>
        </ion-radio-group>
      </ion-card-content>
  </ion-card>
  </div>
</div>
</ion-content>
