<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Materi Biologi</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div>
    <p class="materi">Besaran dan Pengukuran.pdf</p>
    <button><ion-icon name="download-outline"></ion-icon></button>
  </div>
  <div>
    <p class="materi">Klasidikasi Zat.pdf</p>
    <button><ion-icon name="download-outline"></ion-icon></button>
  </div>
  <div>
    <p class="materi">Wujud Zat dan Perubahannya.pdf</p>
    <button><ion-icon name="download-outline"></ion-icon></button>
  </div>
  <img src="assets/kelassiswa.png">
</ion-content>
