<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="container">
    <h2><strong>Masuk Sebagai</strong></h2>
  </div>

<div class="ion-item">
  <div class="card">
  <ion-card>
      <ion-item color="dark" routerLink="/login">
        <ion-avatar item-start>
          <ion-img src="assets/guru.png"></ion-img>
        </ion-avatar>
        <h5>GURU</h5>
      </ion-item>
  </ion-card>
    
  <ion-card>
    <ion-item color="dark" routerLink="/loginsiswa">
        <ion-avatar item-start>
          <ion-img src="assets/siswa.png"></ion-img>
        </ion-avatar>
        <h5>SISWA</h5>
      </ion-item>
    </ion-card>
  </div>
</div>
</ion-content>
