<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="container">
      <ion-img src="/assets/login.png"></ion-img>
  </div>
  
  <div class="mulai">
    <ion-button expand="block" size="default" routerLink="/signinsiswa">Masuk</ion-button>
  </div>

  <div class="daftar">
    <ion-button expand="block" size="default" routerLink="/signupsiswa">Daftar</ion-button>
  </div>
</ion-content>