<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Kelas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-icon size="large" name="add-circle-outline" routerLink="/tambahkodemapel"></ion-icon>
  <div>
    <ion-card>
    <ion-item color="dark" routerLink="/materi">
      <p>BIOLOGI</p>
    </ion-item>
  </ion-card>
  </div>

  <div>
    <ion-card>
    <ion-item color="dark" routerLink="/kelassiswa">
      <p>B.INDONESIA</p>
    </ion-item>
  </ion-card>
  </div>

  <div>
    <ion-card>
    <ion-item color="dark" routerLink="/kelassiswa">
      <p>FISIKA</p>
    </ion-item>
  </ion-card>
  </div>

  <div>
    <ion-card>
    <ion-item color="dark" routerLink="/kelassiswa">
      <p>KIMIA</p>
    </ion-item>
  </ion-card>
  </div>
  <img src="assets/kelassiswa.png">
</ion-content>
