<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="container">
    <ion-img src="/assets/dashboard.png"></ion-img>
  </div>

  <div class="guru">
    <ion-button expand="block" size="default" routerLink="/jadwalguru">Jadwal Guru</ion-button>
  </div>

  <div class="kelas">
    <ion-button expand="block" size="default" routerLink="/kelas">Kelas</ion-button>
  </div>

  <div class="tugas">
    <ion-button expand="block" size="default" routerLink="/tugasguru">Tugas</ion-button>
    <ion-button expand="block" size="default" routerLink="/login">Kembali</ion-button>
  </div>
</ion-content>
