ion-content.background{
    --ion-background-color:#ffffff url('/assets/img/') no-repeat 100% 100%;
    background-size: cover;
}
  
.masuk {
    display: contents;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 20px;
    height: 5%;
    color: black;
}

.daftar {
    display: contents;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 20px;
    height: 5%;
    color: black;
}
